
body {
    font-family: 'Roboto', sans-serif;
    background-color: #242424;
    margin: 0;
    padding: 0;
    background-image: url("../images/tajmahalfront.jpg");
    background-size: cover; 
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #ffffff; 
  }

/* Navigatie */
.nav {
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: #3c3c3c;
  padding: 10px 0;
  background-image: url("../images/tajmahal3.jpg");
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px; 
}

.nav ul li {
  margin: 0;
}

.nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav ul li a:hover {
  background-color: #bebebe;
  color: #242424;
  border-radius: 10px;
}
  
 /* Zoekbalk */





.search-form {
  flex-grow: 1; 
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px 15px;
  width: 100%;
  max-width: 300px; 
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 1rem;
  transition: all 0.3s ease;
}
/* style */
section{
  color: white;
  text-align: center;
  margin-top: 15em;
  
}

article p {
  text-shadow:  0 4px 8px rgba(0, 0, 0, 0.8); ;
  
}




/* mobile vesie */

@media screen and (max-width: 768px) {
  .nav {
    flex-direction: column; 
    align-items: center;
    padding: 10px 15px;
  }

  .nav ul {
    flex-direction: column; 
    align-items: center;
    gap: 10px;
  }

  .nav ul li a {
    font-size: 0.9rem;
    padding: 8px 10px;
    width: 100%; 
    text-align: center; 
  }

  .search-form {
    justify-content: center;
    margin-top: 10px;
  }

  .search-input {
    width: 80%; 
  }
}

@media screen and (max-width: 480px) {
  .search-input {
    width: 90%; 
    font-size: 0.9rem;
  }

  .nav ul li a {
    font-size: 0.85rem;
    padding: 8px;
  }

  footer {
    font-size: 0.8rem;
    padding: 15px;
  }
}
